/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   @font-face {
    font-family: 'dream';
    src: url('Fonts/NOCTADO.otf') format('opentype');}

    @font-face {
      font-family: 'basic';
      src: url('Fonts/Themundayfreeversion-Regular.ttf') format('truetype');}

   body {
    font-family: 'dream', sans-serif;
    color: #343434;
    background-image: url("images/CRISTINA.jpg")
   }
   .background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    color: rgb(255, 255, 255);
    height: 100vh;
    line-height: 1.6;
    margin: 0;
}

   a {
    text-decoration: none;
   }

h1 {
    font-size: 38px;
    text-transform: uppercase;
    position: relative;
}

li {
    float: left;
}

h2 {
    font-size: 1.85em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.25em;
    font-family: 'basic', serif;
    font-size: 18px;
    position: relative;
}

.homepage {
  position: relative;
  z-index: 1; /* Lower z-index so it's underneath other elements */
}
.background-container {
  background: url('images/spin.jpg') no-repeat center center/cover;
  position: relative;
  padding-top: 60px;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 60px); /* Subtract the height of the navbar */
}


/* NAVBAR STYLING STARTS */
    .navbar {
    padding: 20px;
    background-image: url("images/CRISTINA.jpg");
  
    color: #343434;
    position: sticky;
      /* make it stick */
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      /* in front of all other elements */
      z-index: 9000;
      /* set background */
      background-color: #e4dbd2;
      padding: 5px 5%;
      border-bottom: 3px solid #343434;
  
      /* define flex */
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .nav-links a {
    color: #343434;
   }

   /* LOGO */
   .logo {
    font-size: 42px;
    text-transform: uppercase;
    color: #343434;
   }

   /* NAVBAR MENU */
   .menu {
    list-style-type: none;
    gap: 1em;
    font-size: 18px;
   }
   .menu, .nav-links {
       display: inline-block;
       padding: 30px 10px;
   }

   .menu li:hover {
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

    /*RESPONSIVE NAVBAR MENU STARTS*/

    /* CHECKBOX HACK */
    input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }

   /* APPLYING MEDIA QUERIES */

    @media (max-width: 768px) {
    li {
    float: none;
    }

    .menu { 
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    top: 0px;
   }

   .menu li:hover {
    display: inline-block;
    background-color:rgba(253, 161, 114, 0.877);
    transition: 0.3s ease;
    border-radius: 5px;
   }

   .menu li + li {
    margin-top: 12px;
   }

   body::before {
    display:block;
    content: '';
    }

   input[type=checkbox]:checked ~ .menu{
    display: block;
   }

   .hamburger {
    display: block;
   }

   }
    
   /* Underline Nav Bar */

a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #343434;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
    color: (87, 54, 16);
  }

img {
width: 100%;
height: 100vh;
object-fit: cover;
overflow: auto;
display: block;
position: relative;
  }



/* Blog Stying Starts Here */


  /* Add a gray background color with some padding */
  .blog {
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  /* homepage styling */


/* Video Stying Starts Here */

.video-container {
    position: relative;
    padding-top: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .video-container {
      height: auto; /* Allow the video to resize correctly */
  }
}

/* Photo Gallery Starts Here */
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }



  /* Footer styling */
.footer {
  background-color: #343434;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 900000;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #C3D3F1; /* Change to a lighter color on hover */
}


.dark-box {
    background-color: #343434; /* Dark gray background color */
    color: #fff;            /* White text color for contrast */
    border-radius: 10px;    /* Rounded corners with 10px radius */
    padding: 10px;          /* Padding inside the box */
    display: inline-block;  /* Display as an inline block */
    opacity: 50%;
}
